@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --display-sans-font: "Noto Sans", -apple-system, "Source Sans Pro",  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --main-sans-font: "Noto Sans",  "Source Sans Pro", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --primary-color: #C4315B;
  --foreground-color: #e9e4ee;
  --secondary-color: #2e3a3e;
  --accent-color: #F0C7B7;
  --background-color: #232C2F;
  --secondary-background-color: #293235;
}

body {
  transition: 1.2s;
  font-size: 18px;
  background: var(--background-color);
  /* font-size: 16px/1.5; */
  font-family: var(--main-sans-font);
  color: var(--foreground-color);
}

#sentence {
  overflow: hidden;
  padding: 20px;
}

#sentence > li, #sentence > ul { display: inline; }

#textSlider {
  overflow: visible !important;
  text-align: left;
  display: inline;
  position: relative;
  height: 16px;
}

.adj {
  white-space: nowrap;
  list-style: none;
  position: absolute;
  line-height: .3em;
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
}

#root {
  display: flex;
  justify-content: center;
}

.social {
  width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
}

.social a {
  color: var(--foreground-color) !important;
  transition: 0.4s;
}
.social a:hover {
  color: var(--primary-color);
}

.social svg {
  margin:8px;
  height: 32px;
  width: 32px;

}
#contact {
  text-align: center;
}
.contact {
  text-align: center;
  color: var(--primary-color);
  transition: all ease 0.8s;
  width: 100%;
}

.contact a {
  font-size: 2em;
  font-weight: medium;
  text-decoration: none;
  font-family: var(--display-sans-font);
  color: inherit;

}

.contact:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: 2px var(--accent-color) solid;
}

button, .contact {
  padding: 16px 24px;
  font-family: var(--display-sans-font);
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 2px var(--primary-color) solid;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.call-to-action-link {
  padding: 16px;
  font-size: 1.5em;
  color:skyblue;
  border: 2px skyblue solid;
  border-radius: 16px;
  margin-top: 16px;
  max-width: 200px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.call-to-action-link:hover {
  color: var(--background-color);
  border: 2px solid var(--background-color);
  background: skyblue;
  transition: 0.8s;
}

.title {
  height: 100vh;
  max-width: 1000px;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
  font-family: var(--display-sans-font);
  /* grid-template-columns: 3fr 2fr; */
}

.hero-name {
  color:var(--primary-color);
  font-size: clamp(0.8em, 4vw, 2em);
  font-weight: normal;
  margin: 0 0 16px 0px;
}

.tagline {
  font-size: clamp(2em, 4em, 6em);
  line-height: clamp(1em, 4em, 1.1em);
  font-weight:400;
  margin: 0 0 0px 0px;
  color: var(--accent-color);
}

.intro {
  font-size: clamp(1em, 1.3em, 1.3em);
  margin-top: 16px;
  font-stretch:semi-expanded;
}
/* .hero-name {
  color:var(--primary-color);
  font-size: clamp(0.8em, 2em, 2em);
  font-weight: normal;
  margin: 0 0 16px 0px;
}

.tagline {
  font-size: clamp(1em, 1.5em, 2em);
  line-height: clamp(1em, 4em, 1.1em);
  font-weight:400;
  margin: 0 0 0px 0px;
}

.intro {
  font-size: clamp(1em, 3em, 2em);
  max-width: 80%;
  margin-top: 16px;
  font-stretch:semi-expanded;
} */

.scroll-prompt {
  color: var(--primary-color);
  /* transform: rotate(90deg); */
  max-width: fit-content;
  margin-top: 80px;
}

.headshot {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  padding: 0;
}

.headshot:hover{
  color: var(--primary-color);
  transition: 0s;
}

.headshot img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 8px 0 0;
  padding: 0;
}

.headshot p {
  padding: 0;
  padding-left: 8px;
  font-weight: 500;
}

.highlight {
  color: var(--primary-color);
  padding-right: 8px;
}

.about-tech {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-tech li {
  color: var(--accent-color);
  padding-right: 16px;
}

.featured h2 {
  font-family: var(--main-sans-font);
  font-weight: 500;
  margin: 0;
  margin-top: 5rem;
  color: var(--accent-color);
  font-size: 1.1rem;
}

.project-list {
  display: flex;
  list-style-type: none;
  padding-top: 0px;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.project-list-item {
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: repeat(10, 20px 1fr);
  visibility: visible;
  opacity: 1;
  width: 32%;
}

.project-list-item:nth-child(even) .list_item_content {
  box-shadow:  none;
}

/* .project-list-item:nth-child(even) .list_item_content {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: -1;
  box-shadow:  -4px -4px 8px #111;
}

.project-list-item:nth-child(even) a {
  justify-content: end;
} */

.list_item_content {
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 5;
  padding-right: 1.5rem;
  grid-column-start: 10;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  max-height: 200px;
  min-height: 200px;
  /* border: 1px solid #222; */
  transition: all 0.8s ease;
  box-shadow:  none;
}

/* .project-list-item:nth-child(odd):hover >  .list_item_content {
  transform:translate(-8px, 8px);
  cursor: pointer;
  box-shadow:  8px -8px 16px #111;
}

.project-list-item:nth-child(even):hover >  .list_item_content {
  transform:translate(8px, 8px);
  cursor: pointer;
  box-shadow:  -8px -8px 16px #111;
} */

.project-list-item:hover >  .list_item_content {
  transform:translate(-8px, -8px);
  cursor: pointer;
  box-shadow:  8px 8px 8px 0px var(--primary-color);
}

.list_item_content h3 {
  padding-bottom: 0.5rem;
  font-weight: 500;
  width: 100%;
  font-size: 1.2rem;
  color: var(--foreground-color);
  border-bottom: 2px solid var(--primary-color);
}

.list_item_content p {
  margin: 8px 0 0 0;
  font-weight:400;
  font-size: 1rem;
}

.tech {
  display: inline-flex;
  padding-top: 16px;
  flex-wrap: wrap;
}

.tech p {
  padding-right: 16px;
  color: var(--accent-color);
  margin: 0;
}

.project-list-item img {
  transition: all 0.8s ease;
  border-radius: 16px;
  /* filter: grayscale(100%); */
  z-index: 1;
  max-height: 300px;
  /* object-fit: cover; */
  /* opacity: 0.25; */
  /* transition: 0.8s; */
}

.project-list-item:hover img {
  filter: grayscale(0%);
}

.project-list-item a {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
  justify-content: start;
  text-decoration: none;
  color: var(--foreground-color);
}

h3, h4 {
  margin: 0;
}

nav {
  /* border-bottom: 2px solid #2f2f2f; */
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-weight: lighter;
  top: 0;
  width: 38vw;
  min-width: 45rem;
  padding: 2rem 0;
  z-index: 10;
  opacity: 0;
  animation: 0.8s ease-out 1s 1 appear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transition: 1.2s;
  font-family: var(--display-sans-font);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: var(--foreground-color);
  font-weight: 500;
}

nav a:hover {
  color: var(--primary-color);
  transition: 0.8s;
}

#page-body {
  max-width: 38vw;
  min-width: 750px;
  margin: auto;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form input, textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px/1.5;
  font-family: var(--main-sans-font);
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button, p {
  display: inline-block;
  margin-right: 16px;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 120px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
}

.down-arrow p {
  position: absolute;
  top: -50px;
  left: -55px;
  width: 150px;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-2%, -2%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.quote {
  padding: 16px;
  padding-left: 32px;
  padding-right: 0;
  border-left: solid 2px var(--primary-color);
  font-size: 1.3em;
  text-align: left;
  max-width: 800px;
  margin: 100px 0px;
  font-family : var(--main-sans-font)
  /* font-weight: bold; */
}

.down-arrow {
  animation: 0.8s ease-out 1s 1 appear, jumpInfinite 1.5s infinite;
  animation-delay: 10s;
  animation-fill-mode: forwards; 
  opacity: 0;
  z-index: 0;
}

.about-container {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}

.about {
  margin-bottom: 128px;
}

.about a{
  color: var(--accent-color);
  text-decoration: none;
}

.about a:hover{
  color: var(--primary-color);
}

#experience {
  margin-top: 32px;
  margin-bottom: 32px;
  height: max-content;
}

.about h1 {
  margin: 0 0 16px 0;
  padding: 0;
  color: var(--accent-color);
}

.about p {
  margin: 0 0 16px 0;
  line-height: 24px;
  /* text-align: justify; */
}

.about-headshot{
  width: 120px;
  height: 120px;
  object-fit: cover;
  z-index: 10;
  border-radius: 60px;
  margin: 0 0 0 0;
  filter:grayscale(30%);
  transition: 0.8s ease-in-out;
  filter:grayscale(50%);
}

.about-headshot:hover {
  filter:grayscale(25%);
}

.image-container {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.8s ease-in-out;
}
  
.image-container::before {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 120px;
  height: 120px;
  border: 2px solid var(--foreground-color);
  content: '';
  z-index: -1;
  border-radius: 16px;
  box-shadow: 8px 8px 16px black;
  display: none;
}

.image-container:hover {
  transform: translate(0px, -8px);
}

.image-container:hover .about-headshot {
  transform: translate(8px, 8px);
}

@media only screen and (max-width: 1100px)  {

nav {
  width: 50vw;
  min-width: 750px;
}
}

@media only screen and (max-width: 950px)  {

  nav {
    width: 60vw;
    min-width: 900px;
    justify-content: start;
  }
  .headshot {
    padding-right: 8px;
  }
  .headshot p{
    display: none;
  }
  nav ul li {
    padding-right: 8px;
  }
  nav ul li .highlight{
    display: none;
  }
  }

@media only screen and (max-width: 900px)  {
  
  nav {
    width: 90vw;
    min-width: 0;
  }

.project-list {
  display: flex;
  list-style-type: none;
  padding-top: 0px;
  margin-top: 0px;
  flex-wrap: wrap;
  padding: 0;
}

.project-list-item {
  position: relative;
  display: grid;
  -webkit-box-align: end;
  align-items: end;
  visibility: visible;
  opacity: 1;
  width: 100%;
  min-height: fit-content;
  margin-bottom: 16px;
}

.project-list-item img {
  display: block;
  position: relative;
  z-index: 1;
  max-width: 80%;
  margin-bottom: 20%;
  display: none;
}

.project-list-item a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.list_item_content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: fit-content;
  z-index: 5;
  padding: 32px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  opacity: 0.9;
}

.list_item_content p {
  margin: 8px 0 0 0;
}

.tech {
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 16px;
}

.tech p {
  padding-right: 16px;
  color: var(--accent-color);
  margin: 0;
}

.project-list-item:nth-child(even) .list_item_content {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

#page-body {
  max-width: 80vw;
}
nav {
  width: 80vw;
}
.headshot p {
  display: none;
}

.about-container {
  width: 90vw;
  display: block;
}

.about {
  margin-bottom: 0px;
}

.about-headshot{
  margin: 50px 0px;
}

.image-container {
  display: flex;
  justify-content: center;
  transition: 0.8s ease-in-out;
}
  
.image-container::before {
  top: 16px;
  left: calc(50% - 86px);
  margin: 50px 0px;
}

}

.experienceTabs {
  margin: 32px 0px;
  display: flex;
  min-height: 400px;
}

.tabs {
  display: inline-grid;
  justify-content: space-between;
  min-width: fit-content;
  max-height: fit-content;
}

.tabs button {
  border: none;
  text-align: left;
  color: var(--foreground-color);
  cursor: pointer;
  padding: 16px 24px;
  width: 100%;
  background: var(--background-color);
  transition: all 0.8s ease-out;
  border-radius: 0;
  border-left: 2px solid var(--background-color);
}

.tabs button:hover {
  color: var(--accent-color);
  background-color: var(--background-color);
}

.tabs button:disabled {
  color: var(--primary-color);
  border-left: 2px solid var(--primary-color);
}

.tab-title {
  display: flex;
  justify-content: space-between;
}

.tab-title h4 {
  font-size: 1.4em;
  font-weight: 400;
  color: var(--accent-color);
}

.tab-date {
  font-size: 1.2em;
  font-weight: 400;
  color: white;
}

.content {
  padding: 0px 16px;
  line-height: 30px;
}

button, .content {
  font-size: medium;
}

.tab-company {
  font-weight: 600;
  padding-bottom: 16px;
  opacity: 0.7;
}

.tab-content {
  margin:0;
  list-style-type: none;
}

.tab-content a {
  color: var(--primary-color);
  text-decoration: none;
}
.tab-content a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

.tab-content li::before {
  content: "\666";  
  color: var(--primary-color); 
  font-weight: 900;
  display: inline-block;
  width: 1.5em;
  margin-left: -1.5em;
}

@media only screen and (max-width: 960px) {

  .experienceTabs .container {
      width: 100%;
  }

  .experienceTabs .content {
      padding: 50px;
  }
}

footer {
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-content: center;
  bottom: 0;
  z-index: 10;
  font-family: var(--display-sans-font);
}

footer ul {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  text-decoration: none;
  margin: 4px;

  background: var(--primary-color);
  font-weight: 500;
  padding-top: 24px;
  padding-left: 24px;
}

footer a:hover {
  color: var(--primary-color);
  transition: 0.8s;
}

/* DXC Portfolio CSS ----------------------------------------------- */
.portfolio-header {
  width: 100%;
  margin-top: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--foreground-color);
  display: flex;
  justify-content: space-between;
}
.portfolio-header h1 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 4px;
}
.portfolio-header h3 {
  font-weight:400;
  font-size: 1.6rem;
  padding-bottom: 8px;
  margin: 0;
}
.portfolio-header p {
  margin: 0;
  width: 80%;
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 1.1rem;
}
/* portfolio title */
.portfolio-title {
  width: 100%;
  margin-top: 64px;
}
.portfolio-title h2 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  color: var(--foreground-color);
  padding-bottom: 4px;
  text-align: center;
}
/* portfolio navigation */
.portfolio-nav {
  width: calc(100% + 200px);

}
.portfolio-nav ul {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5rem;
  color: var(--foreground-color);
  padding: 16px 0px;
  margin: 0;
}

.portfolio-nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}
/* portfolio content */
.portfolio-content {
  padding: 16px;
}
#sectionIntro {
  padding: 0;
  padding-bottom: 32px;
  margin: 0;
}

/* portfolio list */

.portfolio-list {
  display: flex;
  list-style-type: none;
  padding-top: 0px;
  margin-top: 0px;
  flex-wrap: wrap;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio-list-item {
  position: relative;
  display: grid;
  -webkit-box-align: center;
  align-items: stretch;
  grid-template-columns: repeat(10, 20px 1fr);
  visibility: visible;
  opacity: 1;
  width: 100%;
  margin-bottom: 40px;
}

.portfolio-list-item:nth-child(even) .list_item_content {
  grid-column-start: 1;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: -1;
  box-shadow: none;
}

.portfolio-list-item:nth-child(even) .portfolio-list-item-img {
  justify-content: end;
}

.portfolio-list-item .list_item_content {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: var(--secondary-color);
  z-index: 5;
  padding: 24px 32px;
  grid-column-start: 8;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  border: none;
  border-radius: 0;
  transition: all 0.8s ease;
  box-shadow:  none;
  height: fit-content;
}

.portfolio-list-item:nth-child(odd):hover >  .list_item_content {
  cursor: pointer;
  box-shadow: #1a1f1fdd 8px 8px 8px;
  transform: translate(-8px, -8px);
}

.portfolio-list-item:nth-child(even):hover >  .list_item_content {
  cursor: pointer;
  box-shadow: #1a1f1fdd -8px 8px 8px;
  transform: translate(8px, -8px);
}



.tech {
  display: inline-flex;
  padding-top: 16px;
  flex-wrap: wrap;
}

.tech p {
  padding-right: 16px;
  color: var(--accent-color);
  margin: 0;
}

.portfolio-list-item img {
  transition: all 0.8s ease;
  /* filter: grayscale(100%); */
  z-index: 1;
  max-height: 280px;
  object-fit: cover;
  /* opacity: 0.25; */
  /* transition: 0.8s; */
}

.portfolio-list-item a {
 max-height: 350px;
  text-decoration: none;
  color: var(--foreground-color);
}

.portfolio-list-item-img {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
}
