---
---

nav {
    background: black;
}

@import "{{ site.theme }}";

#header nav ul {
    text-align: center;
}
#header nav ul li {
    margin: 4px;
    text-shadow: none;
}

#header nav ul li a {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    background: none; // #b0aea8;
    background-color: none;
    font-size: 16px;
}

#header nav {
    background: none;
}