---
---

nav {
    background: black;
}

@import "{{ site.theme }}";

// Header
#header {
    position: absolute;
    background: none;
    border: none;
    box-shadow: none;
}

#header nav {
    background: none;
    max-width: none;
}

#header nav ul {
    text-align: right;
}

#header nav ul li {
    margin: 4px;
    text-shadow: none;
}

#header nav ul li a {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    background: none; // #b0aea8;
    background-color: none;
    font-size: 16px;
}

#header nav ul li a:hover {
    background: none;
    background-color: none;
    border: none;
    box-shadow: none;
    color: #ffcc00;
}

#header nav ul li #resume {
    border: 2px solid #7DB5FD;
    color: #7DB5FD;
    border-radius: 4px;
    box-shadow: none;
    background: none; // #b0aea8;
    background-color: none;
    font-size: 16px;
}

// Title
section #title {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 0px;
}

.wrapper {
    max-width: 80%;
}

section {
    max-width: none;
}


section #title h1 {
    font-size: 72px;
    text-align: left;
    font-family: 'Trebuchet MS', 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section #title h1 a {
    color: white;
}

section #title h2 {
    color: #d54511;
    font-weight: lighter;
    font-size: 40px;
    text-align: left;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section #title p {
    color: white;
    font-weight: lighter;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    font-family: 'Charter', 'Times New Roman', Times, serif, serif;
}