<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
              <li class="Downloads"><a href="../experience.html">About</a></li>
              <li class="Downloads"><a href="../education.html">Experience</a></li>
              <li class="Downloads"><a href="../projects.html">Contributions</a></li>
              <li class="Downloads"><a href="../blueprint.html">Contact</a></li>
              <li class="Downloads"><a id="resume" href="../resume.html">Resume</a></li>
          </ul>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <link href="extern.html" rel="import" style="float: right;" />
        <div id="title">
          <h1><a href="../index.html">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          <p><span style="font-style: italic;">“Civilization advances by extending the number of important operations which we can perform without thinking about them.”</span> A. N. Whitehead</p>
          <a id="contributions" href="../work.html">View my Contributions</a>
          
          <!-- <span class="credits left">Project maintained by <a href="../index.html">{{ site.github.owner_name }}</a></span> -->
        </div>
        

        {{ content }}

      </section>

    </div>
  </body>
</html>